[submodule "third_party/iperf"]
	path = third_party/iperf
	url = https://github.com/esnet/iperf.git
[submodule "third_party/cmake-build-sys-utilities"]
	path = third_party/cmake-build-sys-utilities
	url = https://github.com/skymage23/cmake-build-sys-utilities
